<form action="/process" method="POST">

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName"><br><br>

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName"><br><br>

    <label for="Message">Message</label>
    <textarea type="text" id="Message" name="Message"></textarea><br><br>

    <input type="submit" value="Submit your info"><br><br>

</form>